#viewLogin
	background-color $bg
	background-image url(/manage/login/img/rotimatic.login.bg.jpg)
	background-position 0 125%
	background-repeat no-repeat
	background-size 66%
	position fixed
	top 0
	left 0
	height 100%
	width 100%
	overflow-y auto

	.section-header
		float left
		font-weight 100
		text-align center
		width 65%
		padding-top 10%

		h1
			font-size 9rem
			color $text-emphasis

		p
			font-size 2.4rem
			margin 0

	.section-body
		float left
		width 35%
		text-align center
		padding-top 15%
		padding-bottom 5%

	form
		margin 0 2rem

	.form-header
		margin-bottom 2rem

	.logo
		transform translateX(-10px)

	.actions
		margin 0
		& > li
			display block
			margin 1rem 0

	input
		border-radius 10rem
		height 3.2rem
		line-height 3.2rem
		margin 0
		padding 0 3.2rem


	button
		border-radius 10rem
		line-height 3.2rem
		font-size 1.2rem
		text-transform none
